

<!-- CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<!-- jQuery and JS bundle w/ Popper.js -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{ site.baseurl}}/assets/css/index.css">
<body class="blue">
   <br />
   <div class="container">
      <h1>Andrew Kennard's Thesis Defense</h1>
      <h2> Supplementary videos </h2>
      <br>
      {% for slide in site.data.slides %}
      <div class="tab">
         <div class="row">
            <div class="col-lg-7 align-text-center">
               {% for gif_name in slide.video_gif_names %}
               <img src="{{ site.baseurl }}/assets/gifs/{{ gif_name }}" width="70%"> <br><br>
               {% endfor %}
               
            </div>
            <div class="col-lg-5">
               <div class="row">
                  <div class="col-4">
                    
                  </div>
                  <div class="col-4 offset-4">
                     
                  </div>
               </div>
               <div class="row">
                  <div class="col-12">
                     <br><br>
                     </div>
                  <div class="col-4">
                     <button type="button" class="btn btn-primary" onclick="switchTab(1)">Prev slide with video</button> 
                  </div>
                  <div class="col-4 text-center">
                Slide {{slide.slide_number}}
                  </div>
                  <div class="col-4">
                  <button type="button" class="btn btn-primary" onclick="switchTab(-1)">Next slide with video</button>
                  </div>
               </div>
                  <br>
                  <br>
                  <div class="row">
                  <div class="col-12 text-center">
                                  <img style='border:1px solid #000000' src="{{ site.baseurl }}/assets/slides/{{ slide.slide_filename }}"
                  width="200">
                  </div>
                  </div>

               <div class="row">
                  <div class="col-12">
                     <br>
                     {{ slide.caption }}
                     <br>
                     <br>
                  </div>
               </div>
            </div>

         </div>

         <div class="row">
            <div class="col-12">
               <br>
               <br>
               <br>
            </div>
         </div>
      </div>
      {% endfor %}
   </div>
   <script src="{{ site.baseurl }}/assets/js/index.js"></script>
</body>

